<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}square{% endblock %}</title>

  <link href="/admin/static/bootstrap/bootstrap3/swatch/default/bootstrap.min.css?v=3.3.5" rel="stylesheet">
  <link href="/admin/static/bootstrap/bootstrap3/css/bootstrap-theme.min.css?v=3.3.5" rel="stylesheet">
  <link href="/admin/static/admin/css/bootstrap3/admin.css?v=1.1.1" rel="stylesheet">

  <script src="/admin/static/vendor/jquery.min.js?v=2.1.4" type="text/javascript"></script>
  <script src="/admin/static/bootstrap/bootstrap3/js/bootstrap.min.js?v=3.3.5" type="text/javascript"></script>
    {% block head %}
    {% endblock %}
</head>

<body>

{% block body %}
{% endblock %}
</body>
{% block tail %}
{% endblock %}
</html>